<div class="panel panel-default endpoint">
    <div class="panel-heading" style="font-family: monospace">
        <span class="label label-primary">{% block method %}{% endblock %}</span>
        {% block uri %}{% endblock %}
    </div>
    <div class="panel-body">
        {% block description %}{% endblock %}
    </div>
    <ul class="list-group">
        {% block example %}
            <li class="list-group-item">
                <pre class="example-request"><code class="bash">{% block request_example %}{% endblock %}</code></pre>
                <pre><code class="javascript">{% block response_example %}{% endblock %}</code></pre>
            </li>
        {% endblock %}

        {% block parameters %}
            <li class="list-group-item">
                <div class="table-responsive">
                    <table class="table table-bordered parameters">
                        <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% block parameter_rows %}{% endblock %}
                        </tbody>
                    </table>
                </div>
            </li>
        {% endblock %}
    </ul>
</div>
